ion-content {
    --background: linear-gradient(150deg, lightgreen, rgb(171, 230, 171), rgb(210, 242, 210));
}

ion-toolbar{
    --background: rgba(24, 169, 164, 0.449);
    color: white;
    text-align: center;
}