<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="addItem()">
        <ion-icon slot="icon-only" name="bag-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{getLabel('tab1')}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setEdit()">
        <!-- fix next 2 lines -->
        <ion-icon *ngIf="edit" slot="icon-only" name="bag-check"></ion-icon>
        <ion-icon *ngIf="!edit" slot="icon-only" name="bag-remove"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 10px;"></div>
  <div align="center">
    <!-- <ion-chip (click)="show = 'All'" color="{{determineSelected('All')}}">All</ion-chip> -->
    <ion-chip *ngFor="let label of categories; let i = index" (click)="selectList(i)" color="{{determineSelected(i)}}">{{label.name}}</ion-chip>
    <ion-chip (click)="addList()">New List<ion-icon name="add"></ion-icon></ion-chip>
  </div>
  
  <div *ngFor="let item of myItems">
  <ion-card *ngIf="determineShow(item)">
    <ion-item lines="none" (click)="selectItem(item, edit)">
      <ion-chip (click)="setEdit()" color={{checkSelected(item)}}> {{item.quantity}} </ion-chip>
      <ion-buttons>
        <ion-button color={{checkSelected(item)}}><ion-icon name={{item.icon}} slot="icon-only"> </ion-icon></ion-button>
      </ion-buttons>
      <ion-label> {{item.itemName}} </ion-label>
      <ion-chip *ngIf="item.categoryID != all" color={{item.color}}> {{getItemCategory(item)}} </ion-chip>
      
      <ion-buttons *ngIf="edit">
        <ion-button (click)="removeItem(item)">
          <ion-icon color="danger" name="bag-remove" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <div *ngIf="checkEditItem(item)">
      <ion-item color="light">
        <ion-label position="fixed">Item Name</ion-label>
        <ion-input [(ngModel)]="item.itemName" clearInput placeholder="Water"></ion-input>
      </ion-item>

      <ion-item color="light" (click)="chooseIcon2()">
        <ion-label position="fixed">Icon</ion-label>
        <ion-icon color="{{item.color}}" name="{{item.icon}}"></ion-icon>
        <ion-input [(ngModel)]="item.icon"></ion-input>
      </ion-item>
      <ion-radio-group *ngIf="chooseIcon1" [(ngModel)]="item.color">
        <ion-buttons>
          <div style="height: 100px; overflow: scroll">
            <ion-button *ngFor="let i of icons" color="{{item.color}}" (click)="setIcon(item, i)">
              <ion-icon name={{i}} slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </ion-buttons>
      </ion-radio-group>

      <ion-item color="light" (click)="chooseColor()">
        <ion-label position="fixed">Status</ion-label>
        {{item.color}}
      </ion-item>
      <ion-radio-group *ngIf="chooseColour" [(ngModel)]="item.color">
        <div style="height: 100px; overflow: scroll">
          <ion-item *ngFor="let c of colours">
            <ion-label>{{c.name}}</ion-label>
            <ion-radio slot="start" color="{{c.value}}" value="{{c.value}}"></ion-radio>
          </ion-item>
        </div>
      </ion-radio-group>

      <ion-item color="light" (click)="openPicker(item)">
        <ion-label position="fixed">Category</ion-label>
        <ion-input value="{{getItemCategory(item)}}" placeholder="None"></ion-input>
      </ion-item>

      <ion-item color="light">
        <ion-label position="fixed">Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="item.quantity"></ion-input>
      </ion-item>

      <ion-item color="{{item.color}}" lines="none">
        <ion-buttons slot="start">
          <ion-button (click)="removeItem(item)">
            <ion-icon name="bag-remove"></ion-icon>
          </ion-button>
          <ion-button (click)="removeItem(item)">
            Delete
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button (click)="setEdit()">
            Save
          </ion-button>
          <ion-button (click)="setEdit()">
            <ion-icon slot="icon-only" name="bag-check"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

    </div>
  </ion-card>
</div>

  <!-- <ion-item color="dark" lines="none">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="gift"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="fast-food"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item> -->

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-fab vertical="bottom" horizontal="center" edge slot="fixed">
    <ion-fab-button color="light" [routerLink]="['/profile']">
      <ion-icon name="person"></ion-icon>
      <img src={{getAvatar()}}>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button> -->
        <!-- <ion-icon slot="icon-only" name="restaurant"></ion-icon> -->
      <!-- </ion-button> -->
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="checkOut()">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
      </ion-button>
      <!-- <ion-button>
        <ion-icon slot="icon-only" name="subway"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
