<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['']">
        <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{getLabel('profile')}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-chip>
    <ion-avatar>
      <img src="../../assets/icon.png">
    </ion-avatar>
    <ion-label>July 2nd 2001</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-avatar>
      <img src="../../assets/icon.png">
    </ion-avatar>
    <ion-label>21 Years Old</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-avatar>
      <img src="../../assets/icon.png">
    </ion-avatar>
    <ion-label>Barbados</ion-label>
  </ion-chip> -->

  <!-- <ion-item> -->
    <!-- <ion-avatar slot="start">
      <img src="../../assets/icon.png">
    </ion-avatar> -->
    <!-- <ion-label>Xaria Adjoa Kianna Prempeh</ion-label>
  </ion-item> -->
  <br>
  <ion-avatar (click)="changeAvatar()" style="height: 200px; width:200px; margin:auto">
    <img src={{getAvatar()}}>
    <!-- <ion-icon style="height: 200px; width:200px; background-color: white; border-radius: 50%;" color="secondary" name="ice-cream-outline"></ion-icon> -->
  </ion-avatar>
  <br>
  <div align="center">
    <ion-chip color="light"> Xaria Adjoa Kianna Prempeh </ion-chip>
    <br>
    <ion-chip color="light"> {{getLabel("age")}}: 21 </ion-chip>
    <ion-chip color="light"> {{getLabel("bday")}}: July 2nd, 2001 </ion-chip>
    <!-- <br>
    <ion-chip color="light"> +1 246 282 0462 🇧🇧 </ion-chip>
    <ion-chip color="light"> +1 437 247 4802 🇨🇦 </ion-chip> -->
    <!-- <br>
    <ion-chip color="light"> xakp2001@outlook.com </ion-chip>
    <ion-chip color="light"> xprempeh@gmail.com </ion-chip>
    <ion-chip color="light"> xariaprempeh@hotmail.com </ion-chip> -->
    <br>
    <ion-button color="medium"> <ion-icon name="add"> </ion-icon></ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="center" edge slot="fixed">
    <ion-fab-button color="medium" (click)="exit()">
      <ion-icon name="arrow-undo"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="updateMailStatus('close')">
        <ion-icon slot="icon-only" name="chatbubble-ellipses"></ion-icon>
      </ion-button>
      <ion-button (click)="updateMailStatus('unread')">
        <ion-icon slot="icon-only" name="game-controller"></ion-icon>
      </ion-button> -->
      <ion-button (click)="updateMailStatus('unread')">
        <ion-icon slot="icon-only" name="medal"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name=mail></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="changeLanguage()">
        <ion-icon slot="icon-only" name="language"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>